.section_costum {
  margin-top: 6vh !important;
  margin-bottom: -10vh;
}

.costum_section-subtitle {
  margin-top: 2vh;
  color: #ffd700;
  font-weight: 600;
  font-size: 2rem;
}

.costum_acupuntura-btn {
  color: #fff;
  border: none;
  outline: none;
  position: relative;
  margin-left: 51vw;
  top: -12vh;
}

.costum_acupuntura-btn a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

@media only screen and (max-width: 1440px) {
  .costum_acupuntura-btn {
    position: relative;
    transform: translateY(1vh) translateX(10vw);
  }
}

@media only screen and (max-width: 1399px) {
  .costum_acupuntura-btn {
    position: relative;
    transform: translateY(1vh) translateX(1vw);
  }
}

@media only screen and (max-width: 1024px) {
  .costum_acupuntura-btn {
    position: relative;
    transform: translateY(1vh) translateX(45vw);
  }
}

@media only screen and (max-width: 991px) {
  .costum_acupuntura-btn {
    position: relative;
    transform: translateY(1vh) translateX(30vw);
  }
}

@media only screen and (max-width: 768px) {
  .costum_acupuntura-btn {
    position: relative;
    transform: translateY(-2vh) translateX(38vw);
    max-width: 25vw;
    min-height: 0.5vh;
  }
}

@media only screen and (max-width: 767px) {
  .costum_acupuntura-btn {
    position: relative;
    transform: translateY(2vh) translateX(5vw);
    max-width: 25vw;
    min-height: 0.5vh;
  }
}

@media only screen and (max-width: 425px) {
  .section_costum {
    margin-top: 30vh !important;
  }

  .costum_acupuntura-btn {
    position: relative;
    transform: translateY(1vh) translateX(10vw);
    max-width: 45vw;
    min-height: 0.4vh;
  }
}
