.section_costum {
  margin-top: 50px !important;
}

.costum_section-subtitle {
  margin-top: -10px;
  color: #ffd700;
  font-weight: 600;
  font-size: 2rem;
}

.costum_acupuntura-btn {
  color: #fff !important;
  border: none;
  outline: none;
  margin-left: 1200px;
  margin-top: -140px;
}

.costum_acupuntura-btn a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}
