/*  Card 1 */
.front1,
.back {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  backface-visibility: hidden;
}

.front1 {
  background: url(../assets/all-images/CardTime/victorvillar.jpg);
  background-size: cover;
  background-position: center;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}

.front1 h2 {
  font-weight: 700;
  margin-left: -200px;
}

.front1 p {
  color: #ccc;
  font-size: 15px;
  position: absolute;
  margin-left: -29px;
  margin-bottom: 5px;
}

.front1 button {
  width: 120px;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 50px;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: -40px;
  margin-left: -30px;
  color: #000000;
}

/*  Card 2 */
.front2,
.back {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  backface-visibility: hidden;
}

.front2 {
  background: url(../assets/all-images/CardTime/brunasimonato.jpeg);
  background-size: cover;
  background-position: center;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}

.front2 h2 {
  font-weight: 700;
  margin-left: -190px;
}

.front2 p {
  color: #ccc;
  font-size: 15px;
  position: absolute;
  margin-left: -34px;
  margin-bottom: 1px;
}

.front2 button {
  width: 120px;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 50px;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: -45px;
  margin-left: -30px;
  color: #000000;
}

/* Comum aos dois cards */

.card {
  width: 350px;
  height: 550px;
  margin: 100px auto 0;
  font-family: "Poppins", sans-serif;
  margin-top: 40px;
  perspective: 1000px;
  border-radius: 15px;
  outline: none;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  outline: none;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.break-line {
  display: block;
  font-weight: 400;
}

.back {
  background: #fff;
  color: #333;
  padding: 20px 40px;
  transform: rotateY(180deg);
}

.back h1 {
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 10px;
}

.back p {
  font-size: 14px;
}

.back img {
  width: 120px;
}

.details {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.front2 .detalhe1,
.front2 .detalhe1 p {
  flex: 1;
  text-align: center;
  color: #555;
  font-size: 12px;
  position: relative;
}

.front2 .detalhe1 h2 {
  font-size: 20px;
  font-weight: bold;
}

.front2 .detalhe1::after {
  content: "";
  width: 1.5px;
  height: 20px;
  background: #7800ad;
  position: absolute;
  top: 5px;
  right: 0px;
}

.front2 .detalhe2,
.front2 .detalhe2 p {
  flex: 1;
  text-align: center;
  color: #555;
  font-size: 12px;
  position: relative;
}

.front2 .detalhe2 h2 {
  font-size: 20px;
  font-weight: bold;
}

.front2 .detalhe2::after {
  content: "";
  width: 1.5px;
  height: 20px;
  background: #7800ad;
  position: absolute;
  top: 5px;
  right: 0px;
}

.front2 .detalhe3,
.front2 .detalhe3 p {
  flex: 1;
  text-align: center;
  color: #555;
  font-size: 12px;
  position: relative;
}

.front2 .detalhe3 h2 {
  font-size: 20px;
  font-weight: bold;
}

.back button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #7800ad;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 8px 25px;
  border-radius: 30px;
  font-size: 14px;
  margin-right: 15px;
  box-shadow: 0 8px 10px rgba(120, 0, 173, 0.3);
  width: fit-content;
}

.back a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba (0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
