.custom_consulta {
  margin-top: 4vh;
  margin-bottom: 0;
}

.custom_consulta-btn {
  background: #987ea4;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.3s;
}
.custom_consulta-btn a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

.vantagens_section h6 {
  margin-top: 2vh;
}

.vantagens_section h2 {
  color: #fff;
}

.clientTitle h6 {
  margin-top: -8vh;
  font-weight: 600;
}

.clientTitle h2 {
  margin-top: 2vh;
  color: #987ea4;
  font-weight: 600;
}

.curve-bg1 {
  /*mascara criada com https://css-generators.com/wavy-shapes/ */
  margin-top: -4vh;

  background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  --mask: radial-gradient(52.57px at 50% 71.25px, #000 99%, #0000 101%)
      calc(50% - 50px) 0/100px 51% repeat-x,
    radial-gradient(52.57px at 50% -46.25px, #0000 99%, #000 101%) 50% 25px/100px
      calc(51% - 25px) repeat-x,
    radial-gradient(52.57px at 50% calc(100% - 71.25px), #000 99%, #0000 101%)
      calc(50% - 50px) 100%/100px 51% repeat-x,
    radial-gradient(52.57px at 50% calc(100% + 46.25px), #0000 99%, #000 101%)
      50% calc(100% - 25px) / 100px calc(51% - 25px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

@media only screen and (max-width: 1440px) {
  .custom_consulta-btn {
    margin-left: 60vw;
  }
}

@media only screen and (max-width: 1199px) {
  .custom_consulta-btn {
    margin-left: 50vw;
  }
}

@media only screen and (max-width: 1024px) {
  .custom_consulta {
    margin-top: -4vh;
  }

  .custom_consulta-btn {
    position: relative;
    transform: translateY(-2vh) translateX(35vw);
    max-width: 25vw;
    min-height: 0.5vh;
  }

  .vantagens_section h2 {
    color: #fff;
  }

  .curve-bg1 {
    margin-top: -10vh;
  }
}

@media only screen and (max-width: 768px) {
  .custom_consulta-btn {
    position: relative;
    transform: translateY(-4vh) translateX(42vw);
    max-width: 25vw;
    min-height: 0.5vh;
  }
}

@media only screen and (max-width: 768px) {
  .custom_consulta-btn {
    position: relative;
    transform: translateY(1vh) translateX(1vw);
    max-width: 25vw;
    min-height: 0.5vh;
  }
}

@media only screen and (max-width: 425px) {
  .custom_consulta-btn {
    position: relative;
    transform: translateY(-2vh) translateX(15vw);
    max-width: 55vw;
    min-height: 0.5vh;
  }

  .custom_consulta {
    margin-top: 6vh;
  }
}

@media only screen and (max-width: 425px) {
  .custom_consulta-btn {
    position: relative;
    transform: translateY(-2vh) translateX(5vw);
    max-width: 55vw;
    min-height: 0.5vh;
  }
}
