.consulta-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.animation-container {
  margin-left: 20px;
  margin-right: 400px;
  height: 500px;
  margin-top: 80px;
}

.text-container {
  margin-left: 400px;
}
