.custom_consulta {
  margin-top: -50px;
  margin-bottom: -100px;
}

.custom_consulta-btn {
  padding: 7px 15px;
  background: #987ea4;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.3s;
}
.custom_consulta-btn a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

.scroll-arrow-animation {
  margin-top: -50px;
  margin-left: 650px;
  margin-bottom: -100px;
}

.clientTitle {
  margin-bottom: 10px;
}

.clientTitle h6 {
  font-weight: 600;
}

.clientTitle h2 {
  font-weight: 600;
}

.testimonial-section {
  margin-top: -50px;
  margin-bottom: 40px;
}
