.footer {
  background: #fff;
  padding: 50px;
  padding-bottom: 15px;
}

.logo-container {
  margin-top: 70px;
  z-index: 1000;
}

.logo-container p {
  margin-top: 20px;
}

.logo_footer {
  margin-right: 10px;
}

.footer_bottom p {
  align-items: center;
}

.quick_link {
  margin-left: 10px;
  border: none !important;
  background: transparent !important;
}

.quick_link a {
  color: rgb(148, 0, 211);
  text-decoration: none;
  font-weight: 300;
  transition: 0.3s;
}

.quick_link a:hover {
  color: #ff8c00;
}

.footer_link-title {
  margin-left: 10px;
  color: #987ea4;
}

.office_info {
  color: rgba(148, 0, 211);
  font-weight: 300;
  margin-left: 10px;
}

.icon-spacing {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .footer_logo-content {
    font-size: 0.8rem;
  }

  .logo-container {
    margin-left: 50px;
  }

  .logo-container p {
    font-size: 0;
  }
  .quick_link,
  .office_info {
    font-size: 0.8rem;
    margin-bottom: 10px;
    line-height: 1.5rem;
  }

  .footer_link-title {
    font-size: 1rem;
    margin-top: 15px;
  }

  .footer_bottom p {
    font-size: 0.7rem;
  }

  .newsletters span {
    margin-left: -20px;
  }
}
