.main_navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 0px;
  background: #fff;
  z-index: 1000;
}

.mobile_menu {
  color: #000000;
  font-size: 1.3rem;
  cursor: pointer;
}

.mobile_menu {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
  margin-right: 200px;
}

.nav_item {
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
}

.nav_item:hover {
  color: #ffd700;
}

.nav_active {
  color: #ffd700;
}

@media only screen and (max-width: 768px) {
  .header_top,
  .header_middle,
  .nav_right {
    display: none;
  }

  .mobile_menu {
    display: block;
  }

  .navigation {
    background: rgba(0, 13, 107, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
  }

  .menu {
    width: 250px;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
  }

  .menu a {
    color: #4b0082;
    font-weight: 600;
    font-size: 0.9rem;
  }

  .menu_active {
    display: block;
  }
}
