.slider_item {
  max-width: 100%;
  height: 950px;
}

.slider_item-01 {
  background: url("../assets/all-images/Animais/dog1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider_item-02 {
  background: url("../assets/all-images/Animais/dog5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider_item-03 {
  background: url("../assets/all-images/Animais/cat3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_slider {
  overflow: hidden;
}

.slider_content {
  padding-top: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.slider_content h2 {
  font-size: 3.2rem;
  font-weight: 600;
  margin-left: 1000px;
}

.reserve_btn {
  background: #fff !important;
  color: #4b0082;
  border: none;
  outline: none;
  margin-left: 1000px;
}

.reserve_btn a {
  text-decoration: none;
  font-weight: 600;
  color: #4b0082;
}

@media only screen and (max-width: 992px) {
  .slider_item {
    height: 530px;
    width: 100%;
  }

  .slider_content {
    margin-top: -70px;
  }

  .slider_content h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .slider_item {
    height: 450px;
  }

  .slider_content h1 {
    font-size: 1.5rem;
  }
}
