.section_consulta-conteudo {
  margin-top: -210px;
}

.section_consulta-conteudo h2 {
  margin-left: 10rem;
}

.section_consulta-conteudo p {
  margin-left: 6rem;
}

.consulta_img {
  margin-top: -250px;
  margin-left: -50px;
}
