.items_costum-valores i {
  color: #fff !important;
}

.description_costum-valores {
  white-space: pre-wrap;
  color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
}

.content_costum-valores h6 {
  margin-left: -190px;
  text-align: center;
}

.description_costum-valores .compact {
  font-size: 20px;
  max-width: 70px;
}
