.content_costum-about {
  margin-left: -400px;
}

.items_costum-about i {
  margin-left: -150px;
}

.description_costum-about {
  white-space: pre-wrap;
  color: #987ea4;
  font-weight: 600;
  font-size: 1.1rem;
}

.description_costum-about .compact {
  font-size: 20px;
  max-width: 200px;
  margin-left: 0;
}
