.content_costum-vantagens {
  margin-left: -20vw;
}

.description-vantagens {
  white-space: pre-wrap;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
}

.service_content p {
  margin-left: 10vw;
  max-width: 20vw;
}

.service_content h6 {
  margin-left: 7vw;
  max-width: 20vw;
}

@media only screen and (max-width: 1024px) {
  .items_costum-vantagens i {
    margin-left: -25vw !important;
  }

  .content_costum-vantagens {
    margin-left: -45vw;
    margin-right: -15vw;
  }
}

@media only screen and (max-width: 768px) {
  .service_content p {
    margin-left: 25vw;
    max-width: 20vw;
  }

  .service_content h6 {
    margin-left: 25vw;
    max-width: 20vw;
  }

  .items_costum-vantagens i {
    margin-left: -40vw !important;
  }
}

@media only screen and (max-width: 425px) {
  .items_costum-vantagens i {
    margin-left: -85vw !important;
  }

  .content_costum-vantagens {
    margin-left: -115vw;
    margin-right: -25vw;
  }
}

@media only screen and (max-width: 375px) {
  .service_content p {
    margin-left: 35vw;
    max-width: 50vw;
  }

  .service_content h6 {
    margin-left: 40vw;
    max-width: 20vw;
  }

  .items_costum-vantagens i {
    position: relative;
    left: -10vw !important;
  }
}

@media only screen and (max-width: 320px) {
  .service_content p {
    margin-left: 45vw;
    max-width: 50vw;
  }

  .service_content h6 {
    margin-left: 50vw;
    max-width: 20vw;
  }

  .items_costum-vantagens i {
    position: relative;
    left: -30vw !important;
  }
}
