.section_consulta-conteudo {
  margin-top: -210px;
}

.section_consulta-conteudo h2 {
  margin-left: 10rem;
}

.section_consulta-conteudo p {
  margin-left: 6rem;
}

.consulta_img img {
  margin-top: -250px;
  margin-left: -50px;
  border-radius: 20px;
}

@media only screen and (max-width: 1024px) {
  .section_consulta-conteudo {
    font-size: 0.7rem;
  }

  .section_consulta-conteudo h2 {
    margin-left: 10vw;
  }

  .section_consulta-conteudo p {
    margin-left: 5rem;
  }

  .consulta_img img {
    margin-top: -25vh;
    margin-left: 1vw;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .section_consulta-conteudo {
    font-size: 0.5rem;
  }

  .section_consulta-conteudo h2 {
    margin-left: 5vw;
  }

  .section_consulta-conteudo p {
    margin-left: 2rem;
  }

  .consulta_img img {
    margin-top: -25vh;
    margin-left: 1vw;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .section_consulta-conteudo {
    margin-top: -14vh;

    font-size: 0.7rem;
  }

  .section_consulta-conteudo h2 {
    margin-left: 5vw;
  }

  .section_consulta-conteudo p {
    margin-left: 1rem;
  }

  .consulta_img img {
    margin-top: -60vh;
    margin-left: 1vw;
    border-radius: 20px;
  }
}
