.section_especi-conteudo {
  margin-top: -240px;
}

.section_title {
  margin-left: 6px;
}

.section_especi-conteudo h2 {
  margin-right: 9rem;
  margin-left: 100px;
}

.section_especi-conteudo p {
  margin-left: -1rem;
  margin-right: 2rem;
}

.especi_img {
  margin-top: -260px;
}
