.section_contato-conteudo {
  margin-top: -250px;
}

.section_title {
  margin-left: 6px;
}

.section_contato-conteudo h2 {
  margin-right: 9rem;
  margin-left: 100px;
}

.section_contato-conteudo p {
  margin-top: 50px;
  margin-left: -1rem;
  margin-right: 2rem;
}

.custom-icon {
  font-size: 30px;
  color: #00a54e;
  position: absolute;
  top: 90%;
  left: 58%;
  transform: translate(-50%, -50%);
}

.custom-button {
  background-color: #fff !important;
  color: #00a54e !important;
  outline: auto !important;
  position: absolute;
  top: 815px;
  right: 500px;
}

.custom-button:hover {
  color: #fff !important;
  background: #00a54e !important;
}
.contato_img {
  width: 400px;
  margin-top: -360px;
  margin-left: 100px;
}
