.section_vacina-conteudo {
  margin-top: -210px;
}

.section_title {
  margin-left: 6px;
}

.section_vacina-conteudo h2 {
  margin-right: 9rem;
}

.section_vacina-conteudo p {
  margin-left: -1rem;
  margin-right: 2rem;
}

.vacina_img img {
  margin-top: -250px;
  border-radius: 20px;
}
