.section_exames-conteudo {
  margin-top: -210px;
}

.section_exames-conteudo h2 {
  margin-left: 8rem;
}

.section_exames-conteudo p {
  margin-left: 6rem;
}

.exames_img {
  margin-top: -250px;
  margin-left: -50px;
}
