.section_contato-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30vh;
}

.custom-icon {
  color: #00a54e;
  position: relative;
  left: 4vw;
}

.custom-button {
  background-color: #fff !important;
  color: #00a54e !important;
  outline: auto !important;
  position: absolute;
  width: 25vw;
  transform: translate(170%, 90%);
  max-width: 15vw;
}

.custom-button:hover {
  color: #fff !important;
  background: #00a54e !important;
}

.contato_img {
  max-width: 20vw;
  margin-top: -40vh;
  margin-left: 10vw;
}

.contato_img img {
  border-radius: 20px;
}

@media only screen and (max-width: 1440px) {
  .custom-icon {
    font-size: 3vw;
  }

  .custom-button {
    max-width: 15vw;
    transform: translate(150%, 20%);
  }
}

@media only screen and (max-width: 1999px) {
  .custom-icon {
    font-size: 3vw;
  }

  .custom-button {
    width: 28vw;
    top: -1vh;
    margin-left: -20vw;
  }

  .contato_img img {
    margin-top: 10vh;
  }
}

@media only screen and (max-width: 1024px) {
  .custom-icon {
    font-size: 3vw;
  }

  .custom-button {
    max-width: 40vw;

    transform: translate(-75%, -20%);
  }

  .contato_img {
    max-width: 25vw;
    margin-top: -45vh;
    margin-left: 10vw;
  }
}

@media only screen and (max-width: 991px) {
  .custom-icon {
    font-size: 3vw;
  }

  .custom-button {
    transform: translate(-60%, -15%);
  }

  .contato_img {
    margin-top: -40vh;
  }
}

@media only screen and (max-width: 768px) {
  .custom-icon {
    font-size: 5vw;
  }

  .custom-button {
    position: absolute;
    left: 0;
    top: 20vh;
    width: 25vw;
    transform: translate(-40%, -290%);
  }

  .contato_img {
    max-width: 25vw;
    margin-top: -40vh;
    margin-left: 10vw;
  }

  .section_contato-conteudo h2 {
    font-size: 2.5vw;
  }

  .section_contato-conteudo p {
    font-size: 1.8vw;
  }
}

@media only screen and (max-width: 767px) {
  .custom-icon {
    font-size: 0;
  }

  .custom-button {
    top: 6vh;
    transform: translate(-80%, -90%);
  }

  .contato_img {
    max-width: 0;
  }

  .section_contato-conteudo h2 {
    font-size: 6vw;
    margin-top: -5vh;
  }

  .section_contato-conteudo p {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 425px) {
  .custom-icon {
    font-size: 0;
  }

  .custom-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 60vw;
    transform: translate(-15%, 5%);
  }

  .contato_img {
    max-width: 0;
  }

  .section_contato-conteudo h2 {
    font-size: 12vw;
    margin-top: -5vh;
  }

  .section_contato-conteudo p {
    font-size: 5vw;
  }
}
