.costum h1 {
  text-align: center;
  font-size: 18px;
  background: -webkit-linear-gradient(left, #4b0082, #ee71a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.costum p {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5;
}

.curva-bg svg {
  margin-top: -450px;
  display: block;
  width: 260%;
}

.curva-bg {
  position: relative;
  z-index: 1;
}

.galeria-bg {
  position: absolute;
  top: 550px;
  left: 500px;
  z-index: 2;
}
