.common_section {
  margin-top: 10vh;
  background: linear-gradient(
      rgba(170, 147, 200, 0.9),
      rgba(170, 147, 200, 0.9)
    ),
    url("../assets/all-images/Fillers/contato.jpg");
  background-position: 50% 55%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
}
