.vacina_page-section {
  margin-top: 50px;
}

.costum_vacina-btn {
  color: #fff !important;
  border: none;
  outline: none;
  margin-left: 180px;
  position: relative;
}
.costum_vacina-btn a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

.vacinas_section h2 {
  color: #fff;
}

.custom_margin_top {
  margin-top: 10px;
}
