.services_item {
  padding-left: 24em;
  white-space: nowrap;
}

.services_item span i {
  font-size: 2.5rem;
  color: #ffd700;
}

.services_item h6 {
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.3s;
}

.services_item ul {
  font-size: 1.5rem;
  padding-left: 1em;
}

.services_item h6:hover {
  color: #ffd700;
}

.icon-img {
  width: 90px;
  height: 90px;
}

.vacinas_title {
  margin-top: 30px;
  padding-left: 1.2em;
}

.animal_icon {
  margin-left: 1em;
}

@media only screen and (max-width: 768px) {
  service_item h6 {
    font-size: 1.1rem;
  }
}
