.services_item {
  padding-left: 24em;
  white-space: nowrap;
}

.services_item span i {
  font-size: 2.5rem;
  color: #ffd700;
}

.services_item h6 {
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.3s;
}

.services_item ul {
  color: #fff;
  font-size: 1.5rem;
  padding-left: 1em;
}

.services_item h6:hover {
  color: #ffd700;
}

.icon-img {
  min-width: 5vw;
  max-height: 10vh;
}

.vacinas_title-costum {
  margin-top: 2vh;
  padding-left: 1.2em;
}

.animal_icon {
  margin-left: 1em;
}

@media only screen and (max-width: 1024px) {
  .icon-img {
    min-width: 5vw;
    max-height: 10vh;
    margin-left: -10vw;
  }

  .vacinas_title-costum {
    margin-top: 2vh;
    margin-left: -10vw;
  }

  .services_item ul {
    margin-left: -10vw;
  }
}

@media only screen and (max-width: 991px) {
  .icon-img {
    min-width: 5vw;
    max-height: 10vh;
    margin-left: -20vw;
  }

  .vacinas_title-costum {
    margin-top: 2vh;
    margin-left: -20vw;
  }

  .services_item ul {
    margin-left: -20vw;
  }
}

@media only screen and (max-width: 768px) {
  .service_item h6 {
    font-size: 1.1rem;
  }
  .icon-img {
    min-width: 5vw;
    max-height: 10vh;
    margin-left: -25vw;
  }

  .vacinas_title-costum {
    margin-top: 2vh;
    margin-left: -24vw;
  }

  .services_item ul {
    margin-left: -24vw;
  }
}

@media only screen and (max-width: 434px) {
  .service_item h6 {
    font-size: 1.1rem;
  }
  .icon-img {
    min-width: 5vw;
    max-height: 10vh;
    margin-left: -55vw;
  }

  .vacinas_title-costum {
    margin-top: 2vh;
    margin-left: -52vw;
  }

  .services_item ul {
    padding-left: 1em;
    margin-left: -55vw;
  }
}

@media only screen and (max-width: 375px) {
  .service_item h6 {
    font-size: 1.1rem;
  }
  .icon-img {
    min-width: 5vw;
    max-height: 10vh;
    margin-left: -70vw;
  }

  .vacinas_title-costum {
    margin-top: 2vh;
    margin-left: -68vw;
  }

  .services_item ul {
    padding-left: 1em;
    margin-left: -70vw;
  }
}

@media only screen and (max-width: 320px) {
  .service_item h6 {
    font-size: 1.1rem;
  }
  .icon-img {
    min-width: 5vw;
    max-height: 10vh;
    margin-left: -90vw;
  }

  .vacinas_title-costum {
    margin-top: 2vh;
    margin-left: -88vw;
  }

  .services_item ul {
    padding-left: 1em;
    margin-left: -95vw;
  }
}
