.vacina_page-section {
  margin-top: 5vh;
  margin-bottom: -5vh;
}

.costum_vacina-btn {
  color: #fff !important;
  border: none;
  outline: none;
  margin-left: 10vw;
  position: relative;
}
.costum_vacina-btn a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

.vacinas_section h2 {
  color: #fff;
}

.custom_margin_top {
  margin-top: 2vh;
}

@media only screen and (max-width: 1440px) {
  .btn {
    left: 5vw !important;
  }
}

@media only screen and (max-width: 1199px) {
  .btn {
    left: 15vw !important;
  }
}

@media only screen and (max-width: 1024px) {
  .btn {
    margin-top: 2vh;
    margin-left: 15vw !important;
  }

  .vacina_page-section {
    margin-top: 4vh;
  }

  .costum_vacina-btn {
    color: #fff !important;
    border: none;
    outline: none;
    position: relative;
  }
  .costum_vacina-btn a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
  }

  .vacinas_section h2 {
    color: #fff;
  }

  .custom_margin_top {
    margin-top: 2vh;
  }
}

@media only screen and (max-width: 991px) {
  .btn {
    left: 10vw !important;
  }
}

@media only screen and (max-width: 767px) {
  .btn {
    left: 25vw !important;
  }
}

@media only screen and (max-width: 425px) {
  .vacina_page-section {
    margin-top: 30vh;
  }

  .btn {
    left: 15vw !important;
  }
}

@media only screen and (max-width: 320px) {
  .vacina_page-section {
    margin-top: 30vh;
  }

  .btn {
    left: 10vw !important;
  }
}
