.services_item span i {
  font-size: 2.5rem;
  color: #ffd700;
}

.services_item h6 {
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.3s;
}

.services_item p {
  font-size: 1.5rem;
}
.services_item h6:hover {
  color: #ffd700;
}

@media only screen and (max-width: 768px) {
  service_item h6 {
    font-size: 1.1rem;
  }
}
